<!-- <% if @event.errors.any? %>
<h4 style="color:#FF5500"><%= @event.errors.full_messages.to_sentence %></h4>
<% end %> -->

<%= form_for [@event] do |f|%>
<%= f.hidden_field :planner_id, value: current_user.id %>


<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, required: true, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :start_date %>
  <%= f.date_field :start_date, required: true, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :end_date %>
  <%= f.date_field :end_date, required: true, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :location %>
  <%= f.text_field :location, required: true, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :description %>
  <%= f.text_area  :description, required: true,  class: 'form-control'%>
</div>
<%= hidden_field_tag :id, ""  %>
<div class="action">
<%= f.submit class: 'event-submit btn btn-primary btn-block' %>
</div>
<% end %>