<% if @review.errors.any? %>
<h4 style="color:#FF5500"><%= @review.errors.full_messages.to_sentence %></h4>
<% end %>

<%= form_for([@event, @review]) do |f|%>
<%= f.hidden_field :reviewer_id, value: current_user.id %>

<div class="review-group">
  <%= f.label :body %>
  <%= f.text_area :body, class: 'form-control' %>
</div>


<%= f.submit 'Submit', id: "submit-review" %>
<% end %>