<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cerulean/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-C++cugH8+Uf86JbNOnQoBweHHAe/wVKN/mb0lTybu/NZ9sEYbd+BbbYtNpWYAsNP" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <title>EventRailsJsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "user_show" %>
  </head>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">RAILS EVENT APP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navBarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <% if user_signed_in? %>

        <li class="nav-item active">
          <% @user = current_user %>
          <a class="nav-link" href="<%= events_path %>">UPCOMING EVENTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/<%= @user.id %>">YOUR EVENTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_event_path%>">CREATE EVENTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signout">LOG OUT</a>
        </li>

        <% end %>
        <% if !user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link" href="/signin">LOG IN </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">SIGN UP</a>
        </li>
        <% end %>
      </ul>
    </div>

  </nav>


  <%= yield %>



  <nav class="navbar fixed-bottom navbar-light bg-light">
    <a class="navbar-brand" href="#">&copy; 2019<logo> RailsEventApp</logo></a>
  </nav>

  </body>

</html>
